{% include "blog/navbar.html" %}
<div class="about">
    {% if about %}
        <div class="about-info">        
            <h1 class="name">{{ about.name }}</h1>
            <p>{{ about.text }}</p>
            <p><a href={{ about.github }}>{{ about.github }}</a></p>
            <p><a href={{ about.linkedin }}>{{ about.linkedin }}</a></p>
            <p><a href={{ about.instagram }}>{{ about.instagram }}</a></p>
            <p class="updated">{{ about.updated_on }}</p>
        </div>
    {% else %}
        <div class="not-available">
            <p>No information available</p>
        </div>
    {% endif %}
</div>