{% include "blog/navbar.html" %}
<div class="content">
    {% if post_list %}
        <h1>Blog Posts:</h1>
        <dl class="blog-list">
        {% for post in post_list %}
            <div class="post-details">
                <a href="{% url 'blog:detail' post.slug %}">
                    <dt>{{ post.title }}</dt>
                    <p>{{ post.description }}</p>
                    <dd>{{ post.created_on }}</dd>
                </a>
            </div>
        {% endfor %}
        </dl>
    {% else %}
        <div class="not-available">
            <p>No posts available</p>
        </div>
    {% endif %}
</div>